version: "3.9"

services:
  db:
    image: postgres:16
    container_name: db
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  server:
    image: bloodyroom/django_api:latest
    container_name: django
    restart: always
    env_file:
      - .env
    volumes:
      - image_data:/app/images
    ports:
      - "8000:8000"
    depends_on:
      - db

  front:
    image: bloodyroom/django_react_front:latest
    container_name: front
    restart: always
    depends_on:
      - server
    ports:
      - "3000:80"

volumes:
  postgres_data:
  image_data:
